@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

#note::-webkit-scrollbar {
  display: none;
}
 
/* Скрываем scrollbar для IE, Edge и Firefox */
html {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
}

/* width */
#notesbody::-webkit-scrollbar {
  width: 8px;
}

/* Track */
#notesbody::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#notesbody::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 5px;
}

/* Handle on hover */
#notesbody::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
}
